<launch>
    <node type="static_transform_publisher" pkg="tf" name="base_link_to_laser" args="0.24 0 0.17 0 0 0 base_link velodyne 100"/>
    <node type="static_transform_publisher" pkg="tf" name="base_link_to_camera" args="0.41 0 0.20 0 0 0 base_link Camera 100"/>
    <node type="static_transform_publisher" pkg="tf" name="base_link_to_imu" args="0.14 0 0.15 0 0 0 base_link imu 100"/>
</launch>